@import "./reset.css";
@import "./base.css";

.header {
  padding-top: 20px;
  border-bottom: 1px solid #ddd;
}
.header__inner {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.content {
  max-width: 1230px;
  padding: 60px 15px;
  margin: 0 auto;
}

.content-has-column {
  display: flex;
  justify-content: space-between;
}

.content__main {
  flex: 1;
  margin-right: 3.25203%;
}

.content__side {
  flex: 0 0 260px;
}

.background-color-base {
  background-color: #efefef;
}

.footer {
  padding: 20px 0;
  background-color: #222;
}
.footer-border-top-gray {
  border-top: 1px solid #777;
}
.footer__inner {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}
.footer-copyright {
  display: block;
  color: #ddd;
  font-size: 12px;
  text-align: center;
}

.btn {
  display: inline-block;
  width: 300px;
  max-width: 100%;
  padding: 20px 10px;
  background-color: #e25c00;
  border: 2px solid transparent;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  color: #fff;
  font-size: 1.125 rem;
  text-align: center;
  text-decoration: none;
  transition: 0.25s;
}

.btn:focus,
.btn:hover {
  background-color: #fff;
  border-color: currentColor;
  color: #e25c00;
}

.btn--arrow-right {
  position: relative;
  padding-right: 2em;
  padding-left: 1.38em;
}

.btn--arrow-right::after {
  content: "\f061";
  position: absolute;
  top: 50%;
  right: 0.83em;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  transform: translateY(-50%);
}

.btn--large {
  width: 340px;
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 1.375rem;
}

.btn--warning {
  background-color: #f1de00;
  color: #222;
}

.btn--warning:focus,
.btn--warning:hover {
  border-color: #f1de00;
  color: #222;
}

.rounded-btn {
  display: inline-block;
  width: 236px;
  max-width: 100%;
  padding: 15px 10px;
  background-color: #e25c00;
  border: 2px solid transparent;
  border-bottom-color: #d40152;
  border-radius: 10px;
  color: #fff;
  font-size: 1.125rem;
  text-align: center;
  text-decoration: none;
  transition: 0.25s;
}

.rounded-btn:focus,
.rounded-btn:hover {
  background-color: #fff;
  border-color: currentColor;
  color: #e25c00;
}

.before-icon-btn {
  position: relative;
  display: inline-block;
  padding: 0.2em 0.3em;
  border: 1px solid currentColor;
  color: #e25c00;
  text-decoration: none;
  transition: 0.25s;
}

.before-icon-btn:focus,
.before-icon-btn:hover {
  background-color: #e25c00;
  color: #fff;
}

.before-icon-btn::before {
  display: inline-block;
  margin-right: 0.5em;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.before-icon-btn--download::before {
  content: "\f019";
}
.before-icon-btn--zoom::before {
  content: "\f00e";
  transform: translateY(-6%);
}
.before-icon::before {
  display: inline-block;
  margin-right: 0.3em;
  color: #e25c00;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
}

.before-icon--pdf::before {
  content: "\f1c1";
}
.before-icon--chevron-left::before {
  content: "";
  width: 0.375em;
  height: 0.375em;
  border-bottom: 0.125em solid #e25c00;
  border-left: 0.125em solid #e25c00;
  transform: rotate(45deg) translateY(-30%);
}
.label {
  display: inline-block;
  padding: 0.2em 0.3em;
  background-color: #e25c00;
  color: #fff;
  font-size: 0.75rem;
  font-weight: bold;
}

.level1-heading {
  padding: 30px 10px;
  background-color: #e25c00;
  color: #fff;
  font-size: 1.75rem;
  text-align: center;
}

.level1-heading__inner {
  position: relative;
  display: inline-block;
  transform: translateY(-20%);
}

.level1-heading__inner::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  width: 80px;
  height: 1px;
  background-color: currentColor;
  transform: translateX(-50%);
}

.level2-heading {
  padding-bottom: 10px;
  border-bottom: 4px solid #e25c00;
  font-size: 1.75rem;
  font-weight: bold;
}

.media {
  display: flex;
  align-items: center;
}

.media__img-wrapper {
  flex: 0 1 27.58333%;
  margin-right: 3.33333%;
}

.media__img {
  width: 100%;
}

.media__body {
  flex: 1;
}

.media__body > *:last-child {
  margin-bottom: 0;
}

.media__title {
  margin-bottom: 10px;
  font-size: 1.125rem;
  font-weight: bold;
}

.media__text {
  /* css-wipeではスタイリングなし */
}

@media screen and (max-width: 768px) {
  .media {
    display: block;
  }

  .media__img-wrapper {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.card {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.card__img-wrapper {
  position: relative;
  padding-top: 56.25%;
  overflow: hidden;
}

.card__img {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translateY(-50%);
}

.card__body {
  padding: 15px;
}

.card__body > *:last-child {
  margin-bottom: 0;
}

.card__title {
  margin-bottom: 5px;
  font-size: 1.125rem;
  font-weight: bold;
}

.card__text {
  color: #777;
}

.card__badge {
  position: relative;
}

.card__badge::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-width: 3.75rem 3.75rem 0 0;
  border-style: solid;
  border-color: #e25c00 transparent transparent transparent;
}

.card__badge-text {
  position: absolute;
  z-index: 2;
  top: 0.5rem;
  left: 0.3125rem;
  color: #fff;
  font-size: 0.875rem;
  font-weight: bold;
  transform: rotate(-45deg);
}

.card--link {
  display: block;
  color: currentColor;
  text-decoration: none;
  transition: 0.25s;
}

.card--link .card__title,
.card--link .card__text {
  transition: 0.25s;
}

.card--link:focus,
.card--link:hover {
  opacity: 0.75;
}

.card--link:focus .card__title,
.card--link:focus .card__text,
.card--link:hover .card__title,
.card--link:hover .card__text {
  color: #e25c00;
  text-decoration: underline;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.cards--col3 {
  margin-bottom: -30px;
}

.cards--col3 > .cards__item {
  width: 31.707%;
  margin-right: 2.43902%;
  margin-bottom: 30px;
}

.cards--col3 > .cards__item:nth-of-type(3n) {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .cards--col3 {
    margin-bottom: -20px;
  }

  .cards > .cards__item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.horizontal-table {
  border: 1px solid #ddd;
}

.horizontal-table__inner {
  width: 100%;
}

.horizontal-table__header {
  width: 20%;
  padding: 15px;
  background-color: #efefef;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
  vertical-align: middle;
}

.horizontal-table__text {
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

.horizontal-table__row:last-child .horizontal-table__header,
.horizontal-table__row:last-child .horizontal-table__text {
  border-bottom-width: 0;
}

@media screen and (max-width: 768px) {
  .horizontal-table--md-scroll {
    border-right-width: 0;
    overflow-x: auto;
  }

  .horizontal-table--md-scroll .horizontal-table__header,
  .horizontal-table--md-scroll .horizontal-table__text {
    white-space: nowrap;
  }

  .horizontal-table--md-scroll .horizontal-table__text {
    border-right: 1px solid #ddd;
  }
}

.pager {
  display: flex;
  overflow-x: auto;
}

.pager__inner {
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

.pager__inner > *:last-child {
  margin-right: 0;
}

.pager__item {
  margin-right: 15px;
}

.pager__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 1px solid currentColor;
  color: #e25c00;
  text-decoration: none;
  transition: 0.25s;
}

.pager__link:focus,
.pager__link:hover {
  background-color: #e25c00;
  color: #fff;
  opacity: 0.75;
}

.pager__link--active {
  background-color: #e25c00;
  color: #fff;
  pointer-events: none;
}

.tab-navigation__inner {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: -10px;
}

.tab-navigation__link {
  display: inline-block;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 30px;
  margin-bottom: 10px;
  border-bottom: 4px solid #efefef;
  color: #777;
  text-decoration: none;
  transition: .25s;
}

.tab-navigation__link:focus,
.tab-navigation__link:hover {
  border-bottom-color: currentColor;
  color: #e25c00;
  opacity: .75;
}

.tab-navigation__link--active {
  border-bottom-color: currentColor;
  color: #e25c00;
  pointer-events: none;
}

@media screen and (max-width: 768px) {
  .tab-navigation {
    overflow-x: auto;
  }

  .tab-navigation__inner {
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin-bottom: 0;
    white-space: nowrap;
  }
}

.cta-area {
  padding: 30px;
  background-color: rgba(221, 116, 44, .05);
  border: 1px solid #e25c00;
  text-align: center;
}

.cta-area > *:last-child {
  margin-bottom: 0;
}

.cta-area__title {
  padding-bottom: 10px;
  margin-top: -6px;
  margin-bottom: 40px;
  border-bottom: 1px solid currentColor;
  color: #e25c00;
  font-size: 1.5rem;
  font-weight: bold;
}

.price-boxes {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.price-boxes__item {
  flex: 1;
  margin-right: 2.43902%;
}

.price-boxes__item:last-child {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .price-boxes {
    display: block;
  }

  .price-boxes__item {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .price-boxes__item:last-child {
    margin-bottom: 0;
  }
}

.price-box {
  border: 1px solid #ddd;
}

.price-box__header {
  padding: 10px;
  background-color: #e25c00;
  color: #fff;
  text-align: center;
}

.price-box__title {
  font-size: 1.125rem;
}

.price-box__price {
  font-size: 1.875rem;
}

.price-box__price-unit {
  font-size: 1rem;
}

.price-box__body {
  padding: 15px;
}

.price-box__body > *:last-child {
  margin-bottom: 0;
}

.price-box__lead {
  margin-bottom: 20px;
}

.price-box__features {
  text-align: center;
}

.price-box__features > *:last-child {
  margin-bottom: 0;
}

.price-box__features-header {
  padding: 5px;
  margin-bottom: 10px;
  background-color: #efefef;
}

.price-box__features-text {
  margin-bottom: 20px;
}
.only-md {
  display: none;
}

@media screen and (max-width: 768px) {
  .only-md {
    display: block;
  }
}

.price-table__inner {
  width: 100%;
  table-layout: fixed;
}

.price-table__header {
  padding: 10px;
  background-color: #e25c00;
  border-right: 1px solid currentColor;
  color: #fff;
  text-align: center;
}

.price-table__header:last-child {
  border-right-width: 0;
}

.price-table__header-title {
  font-size: 1.125rem;
}

.price-table__price {
  font-size: 1.875rem;
}

.price-table__price-unit {
  font-size: 1rem;
}

.price-table__body-title {
  padding: 10px;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  font-weight: bold;
  text-align: right;
  vertical-align: middle;
}

.price-table__body-text {
  padding: 10px;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  text-align: center;
  vertical-align: middle;
}

.price-table__body-text:last-child {
  border-right: 1px solid #ddd;
}

.price-table__body-row:last-child .price-table__body-title,
.price-table__body-row:last-child .price-table__body-text {
  border-bottom: 1px solid #ddd;
}

  .price-table {
    overflow-x: scroll;
  }
  .price-table__inner {
    width: auto;
    white-space: nowrap;
  }

@media screen and (max-width: 768px) {
  .price-table {
    overflow-x: auto;
  }

  .price-table__inner {
    width: auto;
    white-space: nowrap;
  }

  .price-table__body-title {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    background-color: #fff;
    box-shadow: 1px 0 #ddd;
    font-size: .875rem;
  }
}
